//META{"name":"Cyberpunk","description":"A Cyberpunk 2077 inspired theme with colorful text and a dark background. Made for dark mode!","author":"Wilhelm#8477","version":"1.0"}*//


:root {
    --img: url(https://i.imgur.com/rRLs7q4.png);
}



  /*CHAT*/

  }
  .isMentionedCozy-3isp7y:after{
    border-color:DeepPink;
  }
  .theme-dark .isMentioned-N-h9aa{
    background:Indigo;
  }
  .theme-dark .wrapper-3WhCwL{
    color:DeepPink;
  }
  .theme-dark .markup-2BOw-j a{
    color: DeepPink;
  }
.theme-dark .markup-2BOw-j{
  font-family: "Lucida Console";
  color:#61ce3c;
}
.markup-2BOw-j{
  font-size: 14px;
}
.sprite-2iCowe{
  background-image: url(https://i.imgur.com/t2pQfSb.png);
  display: flex;
  background-position: right;
  background-size: contain;
}
.theme-dark .timestampCozy-2hLAPV{
  font-family: "Lucida Console";
  color:BlueViolet;
}
.isMentionedCozy-3isp7y:after{
  border-color:DeepPink;
}
.theme-dark .isMentioned-N-h9aa .mention, .theme-light .isMentioned-N-h9aa .mention{
  color:Crimson;
}
.theme-dark .dividerEnabled-2TTlcf{
  border-width: 1px;
  border-color:Indigo;
  opacity: 0.4;
}
.theme-dark .divider-3gKybi.dividerRed-MKoLlr .dividerContent-2L12VI{
  color:#61ce3c;
}
.theme-dark .divider-3gKybi.dividerRed-MKoLlr .dividerContent-2L12VI:after, .theme-dark .divider-3gKybi.dividerRed-MKoLlr .dividerContent-2L12VI:before{
  border-color:Indigo;
  border-width: 3px;
}

}
/*MEMBER GROUP*/
.theme-dark .membersGroup-v9BXpm{
  font-family: "Lucida Console";
  color:#61ce3c;
  font-size: 13px;
  text-shadow: 0 0 5px #61ce3c;
}
.usernameOnline-3jr_0Y{
  font-family: "Lucida Console";
  font-size: 13px;
}
.theme-dark .attachPopout-1n-ZKM{
  background-color:Indigo;
  font-family: "Lucida Console";
}
.theme-dark .attachPopoutRowText-1tIocA{
  color:#61ce3c;
}
.theme-dark .header-1TOWci{
  background-color:Indigo;
}

/*SETTINGS*/
.theme-dark .themed-OHr7kt.item-PXvHYJ{
  color:DeepPink;
  font-family: "Lucida Console";
  font-size: 14px;
}
.theme-dark .header-2RyJ0Y{
  color:DarkViolet;
  font-family: "Lucida Console";
  font-size: 14px;
}
.theme-dark .side-8zPYf6 .themed-OHr7kt.selected-3s45Ha.item-PXvHYJ, .theme-dark .side-8zPYf6 .themed-OHr7kt.selected-3s45Ha.item-PXvHYJ:hover, .theme-dark .topPill-30KHOu .themed-OHr7kt.selected-3s45Ha.item-PXvHYJ, .theme-dark .topPill-30KHOu .themed-OHr7kt.selected-3s45Ha.item-PXvHYJ:hover{
  background-color:#61ce3c;
}
.theme-dark .notDetected-33MY4s, .theme-light .notDetected-33MY4s{
  background-color:DeepPink;
}
.theme-dark #bd-settings-sidebar .ui-tab-bar-item{
  color:DeepPink;
  font-family: "Lucida Console";
  font-size: 14px;
}
.theme-dark #bd-settings-sidebar .ui-tab-bar-header{
  color:DarkViolet;
  font-family: "Lucida Console";
  font-size: 14px;
}
.item-PXvHYJ da-item{
  color:DarkViolet !important;
}

/*GIFT POPOUT*/
.theme-dark .giftBlurb-4VKZWm, .theme-dark .trialNote-wEO1RW, .theme-dark .trialText-2gR3-S{
  font-family: "Lucida Console";
  color:#61ce3c;
  font-size: 13px;
}

/*SERVER NAME*/
.name-3YKhmS{
  font-family: "Lucida Console";
  color:#61ce3c;
  font-size: 15px;
  text-shadow: 0 0 5px #61ce3c;
}
.theme-dark .button-OhfaWu, .theme-light .button-OhfaWu{
  background-image: url(https://i.imgur.com/t2pQfSb.png);
}

/*PROFILE*/
.theme-dark .username-_4ZSMR{
  font-family: "Lucida Console";
  color:Orange;
  font-size: 15px;

}
.theme-dark .wrapper-3WhCwL{
  color:DarkOrchid;
}
.headerTagNoNickname-ENx6no{
  font-family: "Lucida Console";
  color:#61ce3c;
  font-size: 15px;
}
.bodyTitle-Y0qMQz{
  font-family: "Lucida Console";
  color:#61ce3c;
  font-size: 14px;
}
.vertical-V37hAW{

}
.theme-dark .body-3iLsc4, .theme-dark .footer-1fjuF6{

  background-color:#101010;
  border-color:#61ce3c;
}
.activity-11LB_k{
  background-color:Indigo;
}
.theme-dark .activityProfile-2bJRaP .headerText-1HLrL7, .theme-dark .activityUserPopout-2yItg2 .headerText-1HLrL7, .theme-light .activityProfile-2bJRaP .headerText-1HLrL7, .theme-light .activityUserPopout-2yItg2 .headerText-1HLrL7{
  font-family: "Lucida Console";
  color:#61ce3c;
  font-size: 14px;
}



/*BACKGROUND HEADER*/
.theme-dark .base-34jWEe{
background-image: url(https://i.imgur.com/t2pQfSb.png);
display: flex;
background-position: right;
background-size: contain;
}
.theme-dark .base-1x0h_U{
  font-family: "Lucida Console";
  color:DeepPink;
  font-size: 14px;
}
.theme-dark .topic-TCb_qw{
  font-family: "Lucida Console";
  color:DeepPink;
  font-size: 14px;
}
.theme-dark .children-19S4PO:after{
  opacity: 0;
}
.base-34jWEe h1{
  font-family: "Lucida Console";
  color:DeepPink;
  font-size: 14px;
}
.container-1r6BKw, .container-1r6BKw *{
  color:#61ce3c;
}

/*BACKGROUND*/
.messages-3amgkR{
  background-color:#101010;

}
.theme-dark .container-1r6BKw{
  background-color:#101010;
}
.scroller-2wx7Hm{
  background-color:#101010;
  background-image: url(https://i.imgur.com/rRLs7q4.png);
}
.theme-dark .members-1998pB{
  background-color:#101010;
  background-image: url(https://i.imgur.com/rRLs7q4.png);
}
.theme-dark .container-2Thooq, .theme-light .container-2Thooq{
  background-color:#101010;
}
.theme-dark .container-2Thooq, .theme-light .container-2Thooq{
  background-color:#101010;
}
.vertical-V37hAW{
  background-color:#101010;
}
.theme-dark .typing-2GQL18{
  background-color:#101010;
}
.hasDropdown-2invhV .header-2o-2hj:hover{
  background-color:#101010;
}
.hasDropdown-2invhV .header-2o-2hj{
  background-color:#101010;
}
.platform-win .scroller-2TZvBN{
  background-color:#101010;
}
.theme-dark .inner-zqa7da{
  background-color:Indigo;
  color::Blue;
}
.theme-dark .button-3AYNKb{
  color:#61ce3c;
}
.theme-dark .container-2Thooq, .theme-light .container-2Thooq{
  background-image: url(https://i.imgur.com/rRLs7q4.png)
}

/*SCROLLER*/
.scroller-2FKFPG{
}
.buttonIcon-3yYVOH{
color:#61ce3c;
}
.theme-dark .icon-1_QxNX, .theme-light .icon-1_QxNX{
  color:#61ce3c;
}
.theme-dark .wrapper-1ucjTd.modeMuted-3osy7j .icon-1_QxNX, .theme-light .wrapper-1ucjTd.modeMuted-3osy7j .icon-1_QxNX{
    color:#61ce3c;
}
.theme-dark .name-3_Dsmg, .theme-light .name-3_Dsmg{
  color:DeepPink;
}
.name-IbjUBS{
  color:#7b68ee;
}
.theme-dark .wrapper-1ucjTd.modeMuted-3osy7j .name-3_Dsmg, .theme-light .wrapper-1ucjTd.modeMuted-3osy7j .name-3_Dsmg{
  color:DeepPink;
}
.addButtonIcon-3u-3Hu{
  color:#7b68ee;
}
.scroller-2FKFPG{
  background-color:#101010;
}
.header-1R_AjF{
  background-color:#101010;
}
.theme-dark .footer-2yfCgX{
  background-color:#101010;
}
.theme-dark .defaultColor-1_ajX0{
  font-family: "Lucida Console";
  color:#61ce3c;
  font-size: 15px;
}
.theme-dark .cloneInfo-1OC_Ee strong, .theme-dark .subtitle-3csUrC{
  font-family: "Lucida Console";
  color:#61ce3c;
  font-size: 13px;
}
.horizontal-1ae9ci{
  color:DeepPink;
}
.theme-dark .h5-18_1nd{
  font-family: "Lucida Console";
  color:#61ce3c;
  font-size: 14px;
}
.theme-dark .title-31JmR4{
  font-family: "Lucida Console";
  color:#61ce3c;
  font-size: 14px;
}
.theme-dark .name-3_Dsmg, .theme-light .name-3_Dsmg{
  font-family: "Lucida Console";
  color:DeepPink;
  font-size: 14px;
}
.theme-dark .wrapper-1ucjTd.modeMuted-3osy7j .name-3_Dsmg, .theme-light .wrapper-1ucjTd.modeMuted-3osy7j .name-3_Dsmg{
  font-family: "Lucida Console";
  color:DeepPink;
  font-size: 14px;
}
.theme-dark .notInteractive-YF5EXq.modeConnected-2IEL4z .name-3_Dsmg, .theme-dark .notInteractive-YF5EXq.modeSelected-1zApJ_ .name-3_Dsmg, .theme-dark .wrapper-1ucjTd.modeConnected-2IEL4z .name-3_Dsmg, .theme-dark .wrapper-1ucjTd.modeConnected-2IEL4z:hover .name-3_Dsmg, .theme-dark .wrapper-1ucjTd.modeSelected-1zApJ_ .name-3_Dsmg, .theme-dark .wrapper-1ucjTd.modeSelected-1zApJ_:hover .name-3_Dsmg, .theme-dark .wrapper-1ucjTd.modeUnread-1zpFdA .name-3_Dsmg, .theme-dark .wrapper-1ucjTd.modeUnread-1zpFdA:hover .name-3_Dsmg, .theme-light .notInteractive-YF5EXq.modeConnected-2IEL4z .name-3_Dsmg, .theme-light .notInteractive-YF5EXq.modeSelected-1zApJ_ .name-3_Dsmg, .theme-light .wrapper-1ucjTd.modeConnected-2IEL4z .name-3_Dsmg, .theme-light .wrapper-1ucjTd.modeConnected-2IEL4z:hover .name-3_Dsmg, .theme-light .wrapper-1ucjTd.modeSelected-1zApJ_ .name-3_Dsmg, .theme-light .wrapper-1ucjTd.modeSelected-1zApJ_:hover .name-3_Dsmg, .theme-light .wrapper-1ucjTd.modeUnread-1zpFdA .name-3_Dsmg, .theme-light .wrapper-1ucjTd.modeUnread-1zpFdA:hover .name-3_Dsmg{
  font-family: "Lucida Console";
  color:Fuchsia;
  font-size: 14px;
}
.theme-dark .wrapper-1ucjTd.modeMuted-3osy7j:hover .name-3_Dsmg, .theme-dark .wrapper-1ucjTd:hover .name-3_Dsmg, .theme-light .wrapper-1ucjTd.modeMuted-3osy7j:hover .name-3_Dsmg, .theme-light .wrapper-1ucjTd:hover .name-3_Dsmg{
  color:#D00;
}
.theme-dark .icon-3BcwQu, .theme-dark .username-lm8y6T, .theme-light .icon-3BcwQu, .theme-light .username-lm8y6T{
  font-family: "Lucida Console";
  color:#61ce3c;
  font-size: 14px;
}
.da-systemPad>.da-listItem:last-of-type, .da-systemPad>.da-listItem:nth-last-of-type(2){display:none;}
}
